@page
@model EstacionamentoApp.Pages.Vigencias.CreateModel
@{
    ViewData["Title"] = "Nova vigência";
}

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <label asp-for="Vigencia.ValorHora"></label>
                <input asp-for="Vigencia.ValorHora" class="form-control"/>
                <span class="alert-danger" asp-validation-for="Vigencia.ValorHora"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label asp-for="Vigencia.HoraAdicional"></label>
                <input asp-for="Vigencia.HoraAdicional" class="form-control"/>
                <span class="alert-danger" asp-validation-for="Vigencia.HoraAdicional"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label asp-for="Vigencia.VigenciaInicio"></label>
                <input asp-for="Vigencia.VigenciaInicio" class="form-control"/>
                <span class="alert-danger" asp-validation-for="Vigencia.VigenciaInicio"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label asp-for="Vigencia.VigenciaFim"></label>
                <input asp-for="Vigencia.VigenciaFim" class="form-control"/>
                <span class="alert-danger" asp-validation-for="Vigencia.VigenciaFim"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="alert-danger" asp-for="ErrorMessage">@Model.ErrorMessage</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>